/* https://github.com/mdn/learning-area/blob/main/html/tables/basic/minimal-table.css */
table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

caption {
  padding: 10px;
}

/* Custom */
body {
  margin: 32px;
}

html {
  font-family: sans-serif;
}

.image {
  display: block;
  margin: 0 auto;
  max-height: 64vh;
  max-width: 100%;
}

@media (min-width: 450px) {
  .image {
    max-height: 24rem;
  }
}